<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Yeongjun & Hayoon - the Begining of Forever</title>

        <link rel="Stylesheet" type="text/css" href="../css/index.css"/>
        <link rel="Stylesheet" type="text/css" href="../css/navigation.css"/>
        <link rel="Stylesheet" type="text/css" href="../css/info.css"/>
        <link rel="Stylesheet" type="text/css" href="../css/gallery.css"/>
        <link rel="Stylesheet" type="text/css" href="../css/cover.css"/>
        <link href="https://fonts.googleapis.com/css?family=Cinzel|Nanum+Myeongjo|Merriweather" rel="stylesheet">


        <script src ="../js/lib/jquery/jquery-3.3.1.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script src="../js/index.js"></script>
        <script src="../js/cover.js"></script>
        <script src="../js/gallery.js"></script>
        <script src="../js/info.js"></script>
        <script src="../js/navigation.js"></script>
    </head>
    
    <body onload='Load();' onunload='Unload();'>
        <div class="cover-wrapper">
            <div class="cover-container">
                <div class="cover">
                    <div class="cover-centered">
                        <div class="cover-background">
                            <div class="cover-range">
                                <div class="cover-title">
                                    <p>
                                        <br>
                                    </p>
                                    <p>
                                        the Beginning of Forever
                                    </p>
                                </div>
                                <div class="cover-name">
                                    <p class="name">
                                        Yeongjun
                                    </p>
                                    <hr class="horizon-left" align="left">
                                    <p class="additional">
                                        &
                                    </p>
                                    <hr class="horizon-right" hr align="right">
                                    <p class="name">
                                        Hayoon
                                    </p>
                                    <p>
                                            <br>
                                    </p>
                                </div>
                                <div class="cover-image">
                                    <img src="../resource/cover-image.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
